#container-fluid {
    width: 300px;
    height: 600px;
    padding: 20px;
    overflow: hidden;
}

#header {
    height: 12%;
}

#content {
    height: 88%;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.close {
    cursor: pointer;
}

#change {
    float: right;
}
