#container-fluid {
    width: 300px;
    height: 575px;
    padding: 21px;
    overflow: hidden;
}

#header {
    height: 8%;
}

#popup-content {
    height: 92%;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 100%;
}

#settings-content {
    height: 92%;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.close {
    cursor: pointer;
}

#change {
    float: right;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #07d;
    animation: spinner .6s linear infinite;
}
